.DS_Store
*~
\#*\#
.\#*

# atom
atom/.atom/.apm
atom/.atom/.node-gyp
atom/.atom/storage
atom/.atom/compile-cache
atom/.atom/dev
atom/.atom/packages
atom/.atom/blob-store

# vim
vim/.vim/bundle
vim/.vim/autoload
vim/.vim/plugged
