"*":
  autosave: {}
  core:
    audioBeep: false
    closeEmptyWindows: false
    disabledPackages: [
      "wrap-guide"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "gruvbox-plus-syntax"
    ]
  editor:
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "183ce74e-be2e-8b66-fe26-bead8241f263"
  "find-and-replace":
    openProjectFindResultsInRightPane: true
  welcome:
    showOnStartup: false
".python.source":
  editor:
    tabLength: 2
