<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dk.simonbs.Spotify</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>37044E54-2437-4603-852B-CB69AE190BDE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>932C78DC-9C0D-4CF5-84AA-EC56870EDD49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB9CABB5-E93B-4E94-AAEE-00492769AA8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8FC1BD1-A782-4B40-9FEB-CF43A010EE58</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E71978D6-D2FB-4DD6-9F3D-F118A3F0F580</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C30A0CD-CF9F-4C39-9E01-392007B4D8E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>simonbs</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Spotify</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "Spotify" to playpause
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>6C30A0CD-CF9F-4C39-9E01-392007B4D8E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pp</string>
				<key>subtext</key>
				<string>Tell Spotify to play/pause</string>
				<key>text</key>
				<string>Play/pause</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E71978D6-D2FB-4DD6-9F3D-F118A3F0F580</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nt</string>
				<key>subtext</key>
				<string>Tell Spotify to go to next track</string>
				<key>text</key>
				<string>Next track</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>37044E54-2437-4603-852B-CB69AE190BDE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "Spotify" to next track
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>932C78DC-9C0D-4CF5-84AA-EC56870EDD49</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pt</string>
				<key>subtext</key>
				<string>Tell Spotify to go to previous track</string>
				<key>text</key>
				<string>Previous track</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CB9CABB5-E93B-4E94-AAEE-00492769AA8E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "Spotify"
		if player position is greater than 3 then
			previous track
			previous track
		else
			previous track
		end if
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>A8FC1BD1-A782-4B40-9FEB-CF43A010EE58</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>37044E54-2437-4603-852B-CB69AE190BDE</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>6C30A0CD-CF9F-4C39-9E01-392007B4D8E7</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>932C78DC-9C0D-4CF5-84AA-EC56870EDD49</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>A8FC1BD1-A782-4B40-9FEB-CF43A010EE58</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>CB9CABB5-E93B-4E94-AAEE-00492769AA8E</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>E71978D6-D2FB-4DD6-9F3D-F118A3F0F580</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>simonbs.dk</string>
</dict>
</plist>
