<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dk.simonbs.AudioOutput</string>
	<key>connections</key>
	<dict>
		<key>8461A512-A54A-4807-B795-50312A2A89C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F27382F-285D-4633-B49B-692C9F1D0973</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>@simonbs</string>
	<key>description</key>
	<string>Alfred's script filter object is extremely powerful, and gives you control over the results displayed in Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Audio Output</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>audio</string>
				<key>subtext</key>
				<string>Choose audio output including '{query}'</string>
				<key>text</key>
				<string>Switch audio output</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8461A512-A54A-4807-B795-50312A2A89C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
	var query = argv[0]
	var systemEvents = Application("System Events")
	var systemUIServer = systemEvents.processes.byName("SystemUIServer")
	// Find sound volume in the menu bar.
	var menuBarItems = systemUIServer.menuBars[0].menuBarItems
	var systemSoundVolumeMenuBarItem = null
	for (i = 0; i &lt; menuBarItems.length; i++) {
		var item = menuBarItems[i]
		if (item.description() == "system sound volume") {
			systemSoundVolumeMenuBarItem = item
		}
	}
	// Open the menu so we can get the menu items.
	systemSoundVolumeMenuBarItem.click()
	delay(1)
	// Find the device names. We skip the first and last menu items as they are not devices
	// but are either titles, separators or buttons that open the preferences.
	var menuItemForDeviceName = {}
	var systemSoundVolumenMenuItems = systemSoundVolumeMenuBarItem.menus[0].menuItems
	for (i = 3; i &lt; systemSoundVolumenMenuItems.length - 2; i++) {
		var systemSoundVolumenMenuItem = systemSoundVolumenMenuItems[i]
		var deviceName = systemSoundVolumenMenuItem.name()
		menuItemForDeviceName[deviceName] = systemSoundVolumenMenuItem
	}
	// Click device name matching query.
	for (deviceName in menuItemForDeviceName) {
		if (deviceName.toLowerCase().includes(query.toLowerCase())) {
			systemSoundVolumenMenuItems[deviceName].click()
		}
	}
	// Close the volume menu.
	delay(1)	
	systemEvents.keyCode(53)
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./audioswitcher.scpt</string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4F27382F-285D-4633-B49B-692C9F1D0973</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred's Script Filter object is extremely powerful, and gives you control over the results displayed in Alfred.

Alfred 3 now supports JSON, which is the recommended format. XML is also supported for legacy Alfred 2 workflows, and has been updated to include the new features.

A new option now exists for Script Filters, "Alfred filters results". This allows you to return a whole list of results, let Alfred do the subsequent filtering with extreme performance. When this option is selected, your script will be called once with no argument.</string>
	<key>uidata</key>
	<dict>
		<key>4F27382F-285D-4633-B49B-692C9F1D0973</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>8461A512-A54A-4807-B795-50312A2A89C3</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>http://simonbs.dk/</string>
</dict>
</plist>
